<div class="bg-light-bg h-screen">
  <div class="grid h-full rounded p-4 md:grid-cols-2">
    <div class="hidden items-center justify-center md:flex">
      <img
        ngSrc="assets/images/banner_reset_password.svg"
        width="500"
        height="300"
        alt="Banner image"
        priority
      />
    </div>
    <div
      class="flex flex-col items-center justify-center rounded-xl md:rounded-tl-none md:rounded-tr-xl md:rounded-br-xl md:rounded-bl-none"
    >
      <div class="mb-10">
        <h1
          class="text-center text-2xl font-bold tracking-wider text-gray-600 uppercase"
        >
          reset password
          <span class="text-light-btn block"></span>
        </h1>
      </div>
      <div class="w-full p-4 sm:px-12 md:px-15 lg:px-30">
        <form [formGroup]="resetForm" (ngSubmit)="onSubmit()">
          <!-- password -->
          <div class="mb-2 flex flex-col">
            <label class="text-sm font-bold text-gray-400 capitalize"
              >password</label
            >
            <input
              formControlName="newPassword"
              type="password"
              placeholder="Enter your password"
              class="focus:border-light-btn rounded border border-gray-300 px-3 py-2 text-gray-500 focus:ring-0 focus:outline-none"
            />
            <div
              *ngIf="resetForm.get('newPassword')?.invalid && resetForm.get('newPassword')?.touched"
              class="flex flex-col gap-0.5 text-xs text-red-500"
            >
              <div *ngIf="resetForm.get('newPassword')?.errors?.['required']">
                Password is required
              </div>
              <div *ngIf="resetForm.get('newPassword')?.errors?.['minlength']">
                Password must be at least 8 characters.
              </div>
              <div
                *ngIf="!resetForm.get('newPassword')?.errors?.['required'] && resetForm.get('newPassword')?.errors?.['uppercase']"
              >
                Password must contain at least one upper case.
              </div>
              <div
                *ngIf="!resetForm.get('newPassword')?.errors?.['required'] && resetForm.get('newPassword')?.errors?.['specialChar']"
              >
                Password must contain at least one special character.
              </div>
              <div
                *ngIf="!resetForm.get('newPassword')?.errors?.['required'] && resetForm.get('newPassword')?.errors?.['number']"
              >
                Password must contain at least 1 number.
              </div>
            </div>
          </div>

          <!-- confirm password -->
          <div class="mb-2 flex flex-col">
            <label class="text-sm font-bold text-gray-400 capitalize"
              >confirm password</label
            >
            <input
              formControlName="confirmPassword"
              type="password"
              placeholder="Confirm your password"
              class="focus:border-light-btn rounded border border-gray-300 px-3 py-2 text-gray-500 focus:ring-0 focus:outline-none"
            />
            <div
              *ngIf="resetForm.get('confirmPassword')?.errors?.['required'] && resetForm.get('confirmPassword')?.touched"
              class="text-xs text-red-500"
            >
              Confirmation password is required.
            </div>
            <div
              *ngIf="resetForm.get('confirmPassword')?.touched && !resetForm.get('confirmPassword')?.errors?.['required'] && resetForm.errors?.['passwordMismatch']"
              class="text-xs text-red-500"
            >
              Passwords do not match.
            </div>
          </div>
          <!-- sign up button -->
          <div>
            <button
              [disabled]="resetForm.invalid"
              type="submit"
              class="bg-light-btn text-light-bg mt-4 w-full cursor-pointer rounded-lg py-2 text-center text-sm font-bold capitalize transition-all duration-300 hover:bg-amber-600"
            >
              submit
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
