<div class="p-4 flex flex-col space-y-4">
    <!-- menu button  -->
     <div class="flex justify-end">
        <!-- <button class="bg-sky-600 text-xs text-white py-2 px-4 rounded-xl capitalize hover:bg-sky-400 duration-300 transition-all cursor-pointer font-bold"
            title="Add Transaction"
            (click)="openTest()">
            <div class="flex gap-2">
                <span class="hidden sm:inline">add transaction</span>
                <i class="fa-solid fa-plus text-sm"></i>
            </div>
        </button> -->
        <button
            class="bg-sky-600 text-xs text-white py-2 px-4 rounded-xl capitalize hover:bg-sky-400 duration-300 transition-all cursor-pointer font-bold"
            mat-raised-button color="primary" (click)="openTest()">
            Add Transaction
        </button>

     </div>
     <!-- transaction table -->
      <div class="overflow-x-auto">
        <table class="min-w-full divide-y divide-gray-200 rounded-lg shadow-md">
            <thead class="bg-gray-100">
                <tr>
                    <th class="px-2 py-3 tracking-wider text-xs font-semibold text-gray-700 uppercase hidden sm:block ">No.</th>
                    <th class="px-6 py-3 tracking-wider text-xs font-semibold text-gray-700 uppercase ">Transaction</th>
                    <th class="px-6 py-3 tracking-wider text-xs font-semibold text-gray-700 uppercase ">Description</th>
                    <th class="px-6 py-3 tracking-wider text-xs font-semibold text-gray-700 uppercase ">Type</th>
                    <th class="px-6 py-3 tracking-wider text-xs font-semibold text-gray-700 uppercase ">Amount</th>
                    <th class="px-6 py-3 "></th>
                    <th class="px-6 py-3 "></th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-200 bg-white">
                @if (isLoading) {
                    <tr>
                        <td colspan="6" class="px-6 py-4 text-start text-sm text-gray-500">
                            <div class="flex justify-center items-center space-x-2">
                                <span class="animate-spin rounded-full h-5 w-5 border-t-2 border-b-2 border-gray-500"></span>
                                <span class="text-sm text-gray-500">Loading transactions...</span>
                            </div>
                        </td>
                    </tr>  
                }
                @else if (transactions?.length !== 0) {
                    @for (item of transactions; track $index) {
                        <tr class="hover:bg-amber-100">
                            
                                <td class="px-2 py-3 tracking-wider text-xs font-medium text-gray-900 hidden sm:block text-center">{{$index+1}}</td>
                                <td class="px-6 py-3 tracking-wider text-xs font-medium text-gray-900 text-center">{{item.category}}</td>
                                <td class="px-6 py-3 tracking-wider text-xs font-medium text-gray-900 text-center">{{item.description}}</td>
                                <td class="px-6 py-3 tracking-wider text-xs font-medium text-gray-900 text-center">{{item.transactionType === 0 ? 'Income' : 'Expense'}}</td>
                                <td class="px-6 py-3 tracking-wider text-xs font-medium text-gray-900 text-center">{{item.amount}}</td>
                                <td class="px-6 py-3 text-center">
                                    <a href="#" title="Edit transaction">
                                        <i class="fa-solid fa-pen-to-square text-green-500 hover:text-green-300 transition-all duration-300 "></i>
                                    </a>
                                </td>
                                <td class="px-6 py-3 text-center">
                                    <a href="#" title="Delete transaction">
                                        <i class="fa-solid fa-trash text-red-500 hover:text-red-300 transition-all duration-300"></i>
                                    </a>
                                </td>
                        </tr>
                    }
                } @else {
                    <tr>
                        <td colspan="6" class="px-6 py-4 text-start text-sm text-gray-500">
                            No transaction exists!
                        </td>
                    </tr>   
                }
            </tbody>
        </table>
      </div>
</div>

<!-- modal -->
<div>
    <app-modal-host></app-modal-host>
</div>