<div class="bg-light-bg h-screen">
    <nav class="relative py-3">
        <div class="w-screen py-5">
            <!-- MOBILE DEVICES -->
            <ul class="absolute inset-0
              transition-all duration-500 ease-in-out
              flex justify-evenly items-center
              opacity-100 visible pointer-events-auto transform scale-100
              sm:opacity-0 sm:invisible sm:pointer-events-none sm:scale-95">
                <li>
                    <a [routerLink]="['/home/dashboard']"
                        routerLinkActive="text-light-btn"
                        [routerLinkActiveOptions]="{exact: true}" 
                        title="Dashboard">
                            <i class="fa-solid fa-chart-line text-2xl hover:text-light-btn duration-300 transition-all p-2"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home/transaction']" 
                        routerLinkActive="text-light-btn" 
                        [routerLinkActiveOptions]="{exact: true}" 
                        title="Transaction">
                            <i class="fa-solid fa-money-bill-transfer text-2xl hover:text-light-btn duration-300 transition-all p-2"></i>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home/about']"
                        routerLinkActive="text-light-btn"
                        [routerLinkActiveOptions]="{exact: true}"
                        title="About">
                            <i class="fa-solid fa-info text-2xl hover:text-light-btn duration-300 transition-all p-2"></i>
                    </a>
                </li><li>
                    <a [routerLink]="['/home/account']"
                        routerLinkActive="text-light-btn"
                        [routerLinkActiveOptions]="{exact: true}"
                        title="About">
                            <i class="fa-solid fa-user text-2xl hover:text-light-btn duration-300 transition-all p-2"></i>
                    </a>
                </li>
            </ul>

            <!-- FOR LARGER DEVICES -->
            <ul class="absolute inset-0 
              transition-all duration-500 ease-in-out
              flex justify-evenly items-center
              opacity-0 invisible pointer-events-none transform scale-95
              sm:opacity-100 sm:visible sm:pointer-events-auto sm:scale-100">
                <li> 
                    <a [routerLink]="['/home/dashboard']" 
                        routerLinkActive="text-light-btn" 
                        [routerLinkActiveOptions]="{exact: true}" >
                            <span class="text-2xl p-0 font-semibold hover:text-light-btn transition-all duration-300">Dashboard</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home/transaction']" 
                        routerLinkActive="text-light-btn" 
                        [routerLinkActiveOptions]="{exact: true}">
                            <span class="text-2xl p-0 font-semibold hover:text-light-btn transition-all duration-300">Transaction</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home/about']" 
                        routerLinkActive="text-light-btn" 
                        [routerLinkActiveOptions]="{exact: true}" >
                            <span class="text-2xl p-0 font-semibold hover:text-light-btn transition-all duration-300">About</span>
                    </a>
                </li>
                <li>
                    <a [routerLink]="['/home/account']" 
                        routerLinkActive="text-light-btn" 
                        [routerLinkActiveOptions]="{exact: true}" >
                            <span class="text-2xl p-0 font-semibold hover:text-light-btn transition-all duration-300">Account</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
    <div>
        <router-outlet></router-outlet>
    </div>
</div>