<div class="bg-gray-800 rounded">
    <h2 class="pt-4 pl-4 uppercase tracking-widest font-bold text-light-bg text-">transaction details</h2>
    <div class="p-5">
        <form [formGroup]="editTransactionForm" (ngSubmit)="submit()" class="flex flex-col gap-4">
        <!-- Category -->
            <div class="flex flex-col">
                <label for="category" class="text-sm font-bold uppercase text-light-bg">Category:</label>
                <select
                    formControlName="category"
                    id="category"
                    class="text-light-bg border border-gray-300 rounded py-2 bg-gray-800 focus:border-light-btn focus:ring-0 focus:outline-none">
                    @for (item of categories$(); track item.categoryId) {
                        <option [value]="item.categoryId">{{item.category}}</option>
                    }
                </select>
            </div>

            <!-- Transaction type -->
            <div class="flex flex-col">
                <label for="transactionType" class="text-sm font-bold uppercase text-light-bg">Transaction:</label>
                <select 
                (change)="onTransactionTypeChange($event)"
                formControlName="transactionType" 
                id="transactionType" 
                class="text-light-bg border border-gray-300 rounded py-2 bg-gray-800 focus:border-light-btn focus:ring-0 focus:outline-none">
                @for (item of transactionType; track item.value) {
                    <option [value]="item.value">{{item.label}}</option>
                }
                </select>
            </div>

            <!-- Amount -->
            <div class="flex flex-col">
                <label for="amount" class="text-sm font-bold uppercase text-light-bg">Amount:</label>
                <input 
                    id="amount"
                    formControlName="amount"
                    type="text"
                    (input)="onInput($event)"
                    (blur)="onBlur()"
                    class="focus:border-light-btn rounded border border-gray-300 px-2 py-1 text-white capitalize focus:ring-0 focus:outline-none"
                />
            </div>

            <!-- Description -->
            <div class="flex flex-col">
                <label for="description" class="text-sm font-bold uppercase text-light-bg">Description:</label>
                <textarea 
                id="description"
                formControlName="description"
                class="border text-xs border-gray-300 rounded-lg p-3 text-white focus:border-light-btn focus:ring-0 focus:outline-none"
                ></textarea>
            </div>

            <!-- Action buttons -->
            <div class="flex justify-end gap-2">
                <button 
                type="button" 
                (click)="dialogRef.close()" 
                class="px-4 py-1 text-sm bg-gray-200 dark:bg-gray-700 rounded hover:bg-gray-300 dark:hover:bg-gray-600 dark:text-light-bg transition-all duration-300">
                Cancel
                </button>
                <button 
                type="submit" 
                [disabled]="!editTransactionForm.valid"
                class="px-4 py-1 text-sm capitalize bg-green-600 text-white rounded hover:bg-green-800 transition-all duration-300">
                Update
                </button>
            </div>
        </form>

    </div>
</div>